interface {{ interface.interface_name }}/{{interface.NB1}}/{{interface.NB2}}
no service-policy output {{interface.nameOfAllpolicys}}
no service-policy input {{interface.nameOfAllpolicys}}
auto discovery qos trust