policy-map {{policing.Name}}
description {{policing.description}}
class {{policing.Class_Map_Name}}
bandwidth {{policing.BandwithKPS}}
bandwidth percent {{policing.bandwidthPercent}}
bandwidth remaining {{policing.bandwidthRemaining}}
set ip precedence {{policing.ipprecedence}}
set ip dscp {{policing.ipdscp}}